version: '3.8'
services:
  pulsar:
    image: apachepulsar/pulsar:latest
    container_name: pulsar
    ports:
      - "6651:6650"
      - "8081:8080"
    environment:
      # Inschakelen van authenticatie en autorisatie
      - PULSAR_PREFIX_authenticationEnabled=true
      - PULSAR_PREFIX_authorizationEnabled=true
      - PULSAR_PREFIX_authenticationProviders=org.apache.pulsar.broker.authentication.AuthenticationProviderToken
      # Pad naar de symmetrische sleutel in de container
      - PULSAR_PREFIX_tokenSecretKey=file:///pulsar/secrets/my-secret.key
      # Definieer superuser rollen
      - PULSAR_PREFIX_superUserRoles=admin
      # Broker client authentication voor interne communicatie
      - PULSAR_PREFIX_brokerClientAuthenticationEnabled=true
      - PULSAR_PREFIX_brokerClientAuthenticationPlugin=org.apache.pulsar.client.impl.auth.AuthenticationToken
      - PULSAR_PREFIX_brokerClientAuthenticationParameters=token:eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiJ9.FO7Erur_sjVRnfa8Y2vRnntSgwdv4DQo0Z61vMB9UGo
    volumes:
      - ./secrets:/pulsar/secrets
    command: >
      /bin/bash -c "bin/apply-config-from-env.py conf/standalone.conf && bin/pulsar standalone"